@import url("./reset.css");

:root {
  --color-background-primary: hsla(0, 0%, 4%, .5);
  --color-highlight-start: hsl(56, 100%, 82%);
  --color-highlight-stop: hsl(43, 74%, 49%);
  --color-text-primary: hsl(0, 0%, 96%);
}

@property --prop-color-highlight-start {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(56, 100%, 82%);
}

@property --prop-color-highlight-stop {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(43, 74%, 49%);
}

body {
  backdrop-filter: blur(.25rem);
  background-attachment: fixed;
  background-image: linear-gradient(hsla(0, 0%, 0%, .75) 0 0), url("../assets/bg.jpg");
  background-size: contain;
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  font: 1rem "Arial", sans-serif;
  line-height: 1.5;
}

header {
  align-items: stretch;
  background-color: var(--color-background-primary);
  display: flex;
  flex-flow: row nowrap;
  inset-block-start: 0;
  inset-inline: 0;
  justify-content: space-between;
}

#logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem 2rem;
}

#logo:is(:hover, :focus-visible) h1 {
  letter-spacing: .5rem;
}

#logo img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 4rem;
}

#logo h1 {
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop));
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .125rem;
  text-transform: uppercase;
  transition: letter-spacing 150ms ease;
}

nav {
  display: flex;
  flex-flow: row nowrap;
}

nav a {
  --prop-color-highlight-start: var(--color-text-primary);
  --prop-color-highlight-stop: var(--color-text-primary);
  align-items: center;
  background-clip: text;
  background-image: linear-gradient(to right, var(--prop-color-highlight-start), var(--prop-color-highlight-stop));
  border-block-end: .25rem solid transparent;
  border-image: linear-gradient(transparent 0 0) 1;
  color: transparent;
  display: flex;
  font-weight: bold;
  letter-spacing: .125rem;
  padding: 2rem 1.5rem 1.75rem 1.5rem;
  position: relative;
  text-transform: uppercase;
  transition-duration: 150ms;
  transition-property: --prop-color-highlight-start, --prop-color-highlight-stop, border-image, letter-spacing;
  transition-timing-function: ease;
}

nav a:is(.active, :hover, :focus-visible) {
  --prop-color-highlight-start: var(--color-highlight-start);
  --prop-color-highlight-stop: var(--color-highlight-stop);
  border-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop)) 1;
  letter-spacing: .25rem;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

#hero {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  justify-content: center;
  text-align: center;
}

#hero h2 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem); /* 2rem to 4rem (320px to 960px) */
  font-weight: bold;
}

#hero a {
  background-image: linear-gradient(to right, var(--color-highlight-start) 0%, var(--color-highlight-stop) 50%, var(--color-highlight-start) 100%);
  background-size: 200% auto;
  border-radius: .25rem;
  color: hsl(0, 0%, 4%);
  display: block;
  font-weight: bold;
  margin-block-start: 1rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
  transition: background-position 150ms ease;
}

#hero a:is(:hover, :focus-visible) {
  background-position: right center;
}

footer {
  background-color: var(--color-background-primary);
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

:focus-visible {
  outline: .125rem solid var(--color-text-primary);
  outline-offset: .25rem;
}

@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }
}
