@import url("./reset.css");

:root {
  --color-background-primary: hsl(0, 0%, 4%);
  --color-highlight-start: hsl(56, 100%, 82%);
  --color-highlight-stop: hsl(43, 74%, 49%);
  --color-text-primary: hsl(0, 0%, 96%);
}

@property --prop-color-highlight-start {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(56, 100%, 82%);
}

@property --prop-color-highlight-stop {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(43, 74%, 49%);
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 6rem;
  scroll-snap-type: y mandatory;
}

body {
  backdrop-filter: blur(.25rem);
  background-attachment: fixed;
  background-image: linear-gradient(hsla(0, 0%, 0%, .75) 0 0), url("../assets/bg.jpg");
  background-size: contain;
  color: var(--color-text-primary);
  font: 1rem "Arial", sans-serif;
  line-height: 1.5;
}

header {
  align-items: center;
  background-color: var(--color-background-primary);
  display: flex;
  flex-flow: row nowrap;
  inset-inline: 0;
  justify-content: space-between;
  position: fixed;
}

#logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem 2rem;
}

#logo:is(:hover, :focus-visible) h1 {
  letter-spacing: .5rem;
}

#logo img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 4rem;
}

#logo h1 {
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop));
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .125rem;
  text-transform: uppercase;
  transition: letter-spacing 150ms ease;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  height: stretch;
}

nav a {
  --prop-color-highlight-start: var(--color-text-primary);
  --prop-color-highlight-stop: var(--color-text-primary);
  align-items: center;
  background-clip: text;
  background-image: linear-gradient(to right, var(--prop-color-highlight-start), var(--prop-color-highlight-stop));
  border-block-end: .25rem solid transparent;
  border-image: linear-gradient(transparent 0 0) 1;
  color: transparent;
  display: flex;
  font-weight: bold;
  letter-spacing: .125rem;
  padding: 2rem 2rem 1.75rem 2rem;
  text-transform: uppercase;
  transition-duration: 150ms;
  transition-property: --prop-color-highlight-start, --prop-color-highlight-stop, border-image, letter-spacing;
  transition-timing-function: ease;
}

nav a:is(:hover, :focus-visible) {
  --prop-color-highlight-start: var(--color-highlight-start);
  --prop-color-highlight-stop: var(--color-highlight-stop);
  border-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop)) 1;
  letter-spacing: .25rem;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

a {
  text-decoration: none;
}

/* Do zmiany */
:focus-visible {
  outline: 0;
}
