@import url("./reset.css");

:root {
  --color-background-primary: hsl(0, 0%, 4%);
  --color-highlight-start: hsl(56, 100%, 82%);
  --color-highlight-stop: hsl(43, 74%, 49%);
  --color-text-primary: hsl(0, 0%, 96%);
}

@property --prop-color-highlight-start {
  inherits: false;
  initial-value: hsl(56, 100%, 82%);
  syntax: "<color>";
}

@property --prop-color-highlight-stop {
  inherits: false;
  initial-value: hsl(43, 74%, 49%);
  syntax: "<color>";
}

body {
  backdrop-filter: blur(.25rem);
  background-attachment: fixed;
  background-image: linear-gradient(hsla(0, 0%, 0%, .75) 0 0), url("../assets/bg.jpg");
  background-size: contain;
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  font: 1rem "Arial", sans-serif;
  line-height: 1.5;
}

header {
  align-items: stretch;
  background-image: linear-gradient(to bottom, var(--color-background-primary), transparent);
  display: flex;
  flex-flow: row nowrap;
  inset-block-start: 0;
  inset-inline: 0;
  justify-content: space-between;
  position: relative;
}

#logo {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem 2rem;
}

#logo:is(:hover, :focus-visible) h1 {
  letter-spacing: .5rem;
}

#logo img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 4rem;
}

#logo h1 {
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop));
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .125rem;
  text-transform: uppercase;
  transition: letter-spacing 150ms ease;
}

nav {
  display: flex;
  flex-flow: row nowrap;
}

nav a {
  --prop-color-highlight-start: var(--color-text-primary);
  --prop-color-highlight-stop: var(--color-text-primary);
  align-items: center;
  background-clip: text;
  background-image: linear-gradient(to right, var(--prop-color-highlight-start), var(--prop-color-highlight-stop));
  border-block-start: .25rem solid transparent;
  border-image: linear-gradient(transparent 0 0) 1;
  color: transparent;
  display: flex;
  font-weight: bold;
  letter-spacing: .125rem;
  padding: 1.75rem 1.5rem 2rem 1.5rem;
  position: relative;
  text-transform: uppercase;
  transition-duration: 150ms;
  transition-property: --prop-color-highlight-start, --prop-color-highlight-stop, border-image, letter-spacing;
  transition-timing-function: ease;
}

nav a:is(.active, :hover, :focus-visible) {
  --prop-color-highlight-start: var(--color-highlight-start);
  --prop-color-highlight-stop: var(--color-highlight-stop);
  border-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop)) 1;
  letter-spacing: .25rem;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

h2 {
  font-size: 2rem;
}

#hero {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  justify-content: center;
  text-align: center;
}

#hero h2 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem); /* 2rem to 4rem (320px to 960px) */
  font-weight: bold;
}

#hero a {
  background-image: linear-gradient(to right, var(--color-highlight-start) 0%, var(--color-highlight-stop) 50%, var(--color-highlight-start) 100%);
  background-size: 200% auto;
  border-radius: .25rem;
  color: hsl(0, 0%, 4%);
  display: block;
  font-weight: bold;
  margin-block-start: 1rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
  transition: background-position 150ms ease;
}

#hero a:is(:hover, :focus-visible) {
  background-position: right center;
}

main:not(#hero) {
  background-color: hsla(0, 0%, 0%, .5);
  border-radius: .5rem;
  margin-inline: auto;
  text-align: justify;
  width: min(80ch, 100% - 2rem);
}

main:not(#hero) h2 {
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-highlight-start), var(--color-highlight-stop));
  color: transparent;
  font-weight: bold;
  letter-spacing: .125rem;
  text-transform: uppercase;
  width: fit-content;
}

#about section {
  margin-block-start: 1.5rem;
}

#about h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

#about ul {
  list-style-position: inside;
}

main#offer {
  width: min(160ch, 100% - 2rem);
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card {
  --prop-color-highlight-start: hsla(0, 0%, 100%, .25);
  --prop-color-highlight-stop: hsla(0, 0%, 100%, .25);
  align-items: center;
  aspect-ratio: 16 / 9;
  background-clip: padding-box, border-box;
  background-image:
    linear-gradient(var(--color-background-primary) 0 0),
    linear-gradient(to bottom, var(--prop-color-highlight-start), var(--prop-color-highlight-stop));
  background-origin: border-box;
  border: 1px solid transparent;
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  transition-duration: 150ms;
  transition-property: --prop-color-highlight-start, --prop-color-highlight-stop, scale;
  transition-timing-function: ease;
}

.card:is(:focus-visible, :hover) {
  --prop-color-highlight-start: var(--color-highlight-start);
  --prop-color-highlight-stop: var(--color-highlight-stop);
  scale: 1.05;
}

footer {
  background-image: linear-gradient(to top, var(--color-background-primary), transparent);
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

:focus-visible {
  outline: .125rem solid var(--color-text-primary);
  outline-offset: .25rem;
}

@media screen and (width <= 1024px) {
  nav {
    display: none;
  }

  .cards {
    --column-count: 2;
  }
}
